services:
  actual_server:
    container_name: actual
    image: docker.io/actualbudget/actual-server:25.11.0@sha256:8f72d73e68958566850325c1f9fe780a4477340979969bd6979649dc519723ab
    ports:
      - $ACTUAL_SERVER_PORT:5006
    volumes:
      - $ACTUAL_SERVER_VOL_DATA:/data
    restart: unless-stopped
