services:
  freshrss:
    container_name: freshrss
    image: lscr.io/linuxserver/freshrss:1.27.1@sha256:269bb10ad8f55a996f307bf5b7fdf2e21386edbd771d1940c16b7266d6757d69
    environment:
      - PUID=$FRESH_RSS_PUID
      - PGID=$FRESH_RSS_PGID
      - TZ=$FRESH_RSS_TZ
    volumes:
      - $FRESH_RSS_VOL_CONFIG:/config
    ports:
      - $FRESH_RSS_PORT:80
    networks:
      - proxy
      - internet
    restart: unless-stopped

networks:
  proxy:
    external: true
  internet:
    external: true
