services:
  homeassistant:
    container_name: home-assistant
    image: ghcr.io/home-assistant/home-assistant:2026.1.0.dev202512050241@sha256:daf95da3fcdbb2ae69fb6ccadb870787503974654bed2003166a1680393e007b
    ports:
      - $HOME_ASSISTANT_PORT:8123
    networks:
      - proxy
      - iot-intra
    environment:
      - TZ=$HOME_ASSISTANT_TZ
    volumes:
      - $HOME_ASSISTANT_CONFIG:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped

networks:
  proxy:
    external: true
  iot-intra:
    external: true
