services:
  homeassistant:
    container_name: home-assistant
    image: ghcr.io/home-assistant/home-assistant:2026.1.0.dev202512080242@sha256:7bbac16f47eb351146c01f92c8e29fc6f0eabd1d85c16aa6a36ef44222ef7d3c
    ports:
      - $HOME_ASSISTANT_PORT:8123
    networks:
      - proxy
      - iot-intra
    environment:
      - TZ=$HOME_ASSISTANT_TZ
    volumes:
      - $HOME_ASSISTANT_CONFIG:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped

networks:
  proxy:
    external: true
  iot-intra:
    external: true
