name: immich

services:
  immich:
    container_name: immich
    image: ghcr.io/immich-app/immich-server:v1.144.1@sha256:f34203f6c2db130c26480ff21c412c6f0c37c24ee5261f6a6e4fe1eecaa921c0
    volumes:
      - $IMMICH_VOL_UPLOAD:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - /mnt/RAID1_22TB/maison:/mnt/RAID1_22TB/maison
    ports:
      - $IMMICH_PORT:2283
    networks:
      - proxy
      - internal
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:v1.144.1@sha256:21b6a0bf02426336f456e8dca43c55b6a79b8e01ee2c25f91bc817fc3a745e52
    volumes:
      - model-cache:/cache
    networks:
      - internal
    restart: always
    healthcheck:
      disable: false

  redis:
    container_name: immich_redis
    image: docker.io/redis:7.4.3@sha256:7df1eeff67eb0ba84f6b9d2940765a6bb1158081426745c185a03b1507de6a09
    networks:
      - internal
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  database:
    container_name: immich_postgres
    image: docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:739cdd626151ff1f796dc95a6591b55a714f341c737e27f045019ceabf8e8c52
    environment:
      POSTGRES_PASSWORD: $IMMICH_DB_PASSWORD
      POSTGRES_USER: $IMMICH_DB_USERNAME
      POSTGRES_DB: $IMMICH_DB_DATABASE_NAME
      POSTGRES_INITDB_ARGS: "--data-checksums"
    volumes:
      - $IMMICH_DB_VOL_DATA:/var/lib/postgresql/data
    networks:
      - internal
    healthcheck:
      test: pg_isready --dbname='$IMMICH_DB_DATABASE_NAME' --username='$IMMICH_DB_USERNAME' || exit 1; Chksum="$$(psql --dbname='$IMMICH_DB_DATABASE_NAME' --username='$IMMICH_DB_USERNAME' --tuples-only --no-align --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; echo "checksum failure count is $$Chksum"; [ "$$Chksum" = '0' ] || exit 1
      interval: 5m
      start_interval: 30s
      start_period: 5m
    command:
      [
        "postgres",
        "-c",
        "shared_preload_libraries=vectors.so",
        "-c",
        'search_path="$$user", public, vectors',
        "-c",
        "logging_collector=on",
        "-c",
        "max_wal_size=2GB",
        "-c",
        "shared_buffers=512MB",
        "-c",
        "wal_compression=on"
      ]
    restart: always

volumes:
  model-cache:
  
networks:
  proxy:
    external: true
  internal:
    external: false
