services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.11.4@sha256:234ea8d508b2cba26054d0dac9d4c0353435dce483e8b266947d473629774559
    container_name: jellyfin
    ports:
      - $JELLYFIN_PORT:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    networks:
      - proxy
      - internet
    environment:
      - PUID=$JELLYFIN_PUID
      - PGID=$JELLYFIN_PGID
      - TZ=$JELLYFIN_TZ
      - JELLYFIN_PublishedServerUrl=$JELLYFIN_URL
    volumes:
      - $JELLYFIN_VOL_CONFIG:/config
      - $JELLYFIN_VOL_MEDIAS:/media:ro
    restart: unless-stopped

networks:
  proxy:
    external: true
  internet:
    external: true
