services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.0.3-nightly@sha256:b0ca9b42d24a677ce7e46d515750de75ea97aaf5dcdeabeb5e2d78c4d120e077
    container_name: prowlarr
    environment:
      - PUID=$ARR_STACK_PUID
      - PGID=$ARR_STACK_PGID
      - TZ=$ARR_STACK_TZ
    volumes:
      - $ARR_STACK_PROWLARR_VOL_CONFIG:/config
    ports:
      - $ARR_STACK_PROWLARR_PORT:9696
    networks:
      - proxy
      - internet
    restart: unless-stopped
  flaresolverr:
    image: flaresolverr/flaresolverr:v3.3.21@sha256:f104ee51e5124d83cf3be9b37480649355d223f7d8f9e453d0d5ef06c6e3b31b
    container_name: flaresolverr
    environment:
      - TZ=$ARR_STACK_TZ
    networks:
      - internet
    restart: unless-stopped 
  radarr:
    image: linuxserver/radarr:5.27.4-nightly@sha256:70a6779059e1c401ef87ef99bf15b38c752d9508f321d084f46544cad567f987
    container_name: radarr
    environment:
      - PUID=$ARR_STACK_PUID
      - PGID=$ARR_STACK_PGID
      - TZ=$ARR_STACK_TZ
    volumes:
      - $ARR_STACK_RADARR_VOL_CONFIG:/config
      - $ARR_STACK_VOL_MEDIAS:/mnt/medias
    ports:
      - $ARR_STACK_RADARR_PORT:7878
    networks:
      - proxy
      - internet
    restart: unless-stopped
  sonarr:
    image: linuxserver/sonarr:4.0.15.2941-ls289@sha256:c0836f49c20000e603170dc95d74c2527e690d50309977d94fc171eaa49351a4
    container_name: sonarr
    environment:
      - PUID=$ARR_STACK_PUID
      - PGID=$ARR_STACK_PGID
      - TZ=$ARR_STACK_TZ
    volumes:
      - $ARR_STACK_SONARR_VOL_CONFIG:/config
      - $ARR_STACK_VOL_MEDIAS:/mnt/medias
    ports:
      - $ARR_STACK_SONARR_PORT:8989
    restart: unless-stopped
    networks:
      - proxy
      - internet
  readarr:
    image: linuxserver/readarr:develop@sha256:db02fba99182aaa9321558b52c972a0ae75e6a6deaff59efd734ffc5efe985d5
    container_name: readarr
    environment:
      - PUID=$ARR_STACK_PUID
      - PGID=$ARR_STACK_PGID
      - TZ=$ARR_STACK_TZ
    volumes:
      - $ARR_STACK_READARR_VOL_CONFIG:/config
      - $ARR_STACK_VOL_MEDIAS:/mnt/medias
    ports:
      - $ARR_STACK_READARR_PORT:8787
    networks:
      - proxy
      - internet
    restart: unless-stopped
  jellyseerr:
    image: fallenbagel/jellyseerr:2.7.2@sha256:98296861cf3caebe8ada72e5dbe2729fb10cdb2042d2b82e86065bf870418587
    container_name: jellyseerr
    environment:
      - TZ=$ARR_STACK_TZ
    volumes:
      - $ARR_STACK_JELLYSEERR_VOL_CONFIG:/app/config
    ports:
      - $ARR_STACK_JELLYSEERR_PORT:5055
    networks:
      - proxy
      - internet
    restart: unless-stopped
  mylar3:
    image: lscr.io/linuxserver/mylar3:latest@sha256:3c7e2d70bbfbab336735d8f112c6e9ca483c87df7c7425248b1133aef03cf20e
    container_name: mylar3
    environment:
      - PUID=$ARR_STACK_PUID
      - PGID=$ARR_STACK_PGID
      - TZ=$ARR_STACK_TZ
    volumes:
      - $ARR_STACK_MYLAR_VOL_CONFIG:/config
      - $ARR_STACK_VOL_MEDIAS:/mnt/medias
    ports:
      - $ARR_STACK_MYLAR_PORT:8090
    networks:
      - proxy
      - internet
    restart: unless-stopped

networks:
  proxy:
    external: true
  internet:
    external: true
