services:
  gotify:
    image: gotify/server:2.7.3@sha256:2ae0e4e689f183137c8247884382fcb174d5a72253ce1897e7e5267090093fc8
    container_name: gotify
    restart: unless-stopped
    ports:
      - $GOTIFY_PORT:80
    environment:
      - TZ=$GOTIFY_TZ
      - GOTIFY_DEFAULTUSER_PASS=$GOTIFY_DEFAULTUSER_PASS
    volumes:
      - $GOTIFY_VOL_DATA:/app/data
