services:
  mosquitto:
    image: eclipse-mosquitto:2.0.21@sha256:94f5a3d7deafa59fa3440d227ddad558f59d293c612138de841eec61bfa4d353
    container_name: mosquitto
    ports:
      - 1883:1883
      - 8883:8883
      - 9001:9001
    networks:
      iot-intra:
      iot:
        ipv4_address: $MOSQUITTO_IPV4
    volumes:
      - $MOSQUITTO_VOL_CONFIG:/mosquitto/config
      - $MOSQUITTO_VOL_DATA:/mosquitto/data
    restart: unless-stopped

networks:
  iot-intra:
    external: true
  iot:
    external: true
