services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.7.0@sha256:b6ac42c31845ea7c862d71451c16413a6284430d8ff08e16ad791f42718a7c71
    container_name: homepage
    restart: unless-stopped
    ports:
      - $HOMEPAGE_PORT:3000
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=$HOMEPAGE_ALLOWED_HOSTS
    volumes:
      - $HOMEPAGE_VOL_CONFIG:/app/config 
      - /var/run/docker.sock:/var/run/docker.sock 
    env_file: 
      - $HOMEPAGE_SECRETS_ENV_FILE_PATH
