services: 
  cloudflared: 
    image: cloudflare/cloudflared:2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    container_name: cloudflare-tunnel 
    command: tunnel run 
    networks:
      - proxy
      - internet
    environment: 
      - TUNNEL_TOKEN=$CLOUDFLARED_TOKEN
    restart: unless-stopped

networks:
  proxy:
    external: true
  internet:
    external: true
