services:
  tailscale:
    image: tailscale/tailscale:v1.92.4@sha256:d6734d69fd7d31b1861589e347463954aa6097f9a61aa4f8f763ba94bfe0e5b9
    container_name: tailscale
    environment:
      - TS_AUTHKEY=$TAILSCALE_AUTHKEY
      - TS_ROUTES=$TAILSCALE_ROUTES
      - TS_ACCEPT_DNS=true
      - TS_EXTRA_ARGS=--advertise-exit-node
      - TS_STATE_DIR=/var/lib/tailscale
    volumes:
      - $TAILSCALE_VOL_DATA:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    network_mode: host
    cap_add:
      - net_admin
    restart: unless-stopped
