services:
  tailscale:
    image: tailscale/tailscale:v1.90.9@sha256:9975353aae933e8fbd1a81226d092a9225b9a0f98b173d365a9d525eca1cc298
    container_name: tailscale
    environment:
      - TS_AUTHKEY=$TAILSCALE_AUTHKEY
      - TS_ROUTES=$TAILSCALE_ROUTES
      - TS_ACCEPT_DNS=true
      - TS_EXTRA_ARGS=--advertise-exit-node
      - TS_STATE_DIR=/var/lib/tailscale
    volumes:
      - $TAILSCALE_VOL_DATA:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    network_mode: host
    cap_add:
      - net_admin
    restart: unless-stopped
