services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.7.2@sha256:60a295b40f4e7fb7ab4d995932369e50f2529837272fa4979e986ec1ffdb7fce
    restart: unless-stopped
    privileged: true
    networks:
      - iot
      - iot-intra
      - proxy
    ports:
      - $ZIGBEE2MQTT_PORT:8080
    environment:
      - TZ=$ZIGBEE2MQTT_TZ
    volumes:
      - $ZIGBEE2MQTT_VOL_DATA:/app/data
      - /run/udev:/run/udev:ro
    group_add:
      - dialout

networks:
  iot:
    external: true
  iot-intra:
    external: true
  proxy:
    external: true
