services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.7.0@sha256:7da30df2c3e53ea02e0bbce0241306358e946b2b5ce6ec02ecdf90be0a96c694
    restart: unless-stopped
    privileged: true
    ports:
      - $ZIGBEE2MQTT_PORT:8080
    environment:
      - TZ=$ZIGBEE2MQTT_TZ
    volumes:
      - $ZIGBEE2MQTT_VOL_DATA:/app/data
      - /run/udev:/run/udev:ro
    group_add:
      - dialout
