services:
  uptimekuma:
    container_name: uptimekuma
    image: louislam/uptime-kuma:1.23.17@sha256:3d632903e6af34139a37f18055c4f1bfd9b7205ae1138f1e5e8940ddc1d176f9
    volumes:
      - $UPTIME_KUMA_VOL_DATA:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - $UPTIME_KUMA_PORT:3001
    restart: unless-stopped
