services:
    speedtest-tracker:
        image: lscr.io/linuxserver/speedtest-tracker:1.13.5@sha256:d269fd70ed3e29830e1d36b840024ceccfb0ad35b715631bc9db1fe8394592f0
        container_name: speedtest-tracker
        restart: unless-stopped
        ports:
            - $SPEEDTEST_TRACKER_PORT:80
        environment:
            - PUID=$SPEEDTEST_TRACKER_PUID
            - PGID=$SPEEDTEST_TRACKER_PGID
            - TZ=$SPEEDTEST_TRACKER_TZ
            - APP_KEY=$SPEEDTEST_TRACKER_KEY
            - APP_URL=$SPEEDTEST_TRACKER_URL
            - DB_CONNECTION=$SPEEDTEST_TRACKER_DB_TYPE
        volumes:
            - $SPEEDTEST_TRACKER_VOL_CONFIG:/config
