services:
    speedtest-tracker:
        image: lscr.io/linuxserver/speedtest-tracker:1.11.1@sha256:9615c7db69692dd8136f8abc62380e11bb2df9dfd8d6ddec0a28eecf1c7bbc23
        container_name: speedtest-tracker
        restart: unless-stopped
        ports:
            - $SPEEDTEST_TRACKER_PORT:80
        environment:
            - PUID=$SPEEDTEST_TRACKER_PUID
            - PGID=$SPEEDTEST_TRACKER_PGID
            - TZ=$SPEEDTEST_TRACKER_TZ
            - APP_KEY=$SPEEDTEST_TRACKER_KEY
            - APP_URL=$SPEEDTEST_TRACKER_URL
            - DB_CONNECTION=$SPEEDTEST_TRACKER_DB_TYPE
        volumes:
            - $SPEEDTEST_TRACKER_VOL_CONFIG:/config
