services:
    speedtest-tracker:
        image: lscr.io/linuxserver/speedtest-tracker:1.10.3@sha256:7a0af49937e7a6003e98582acaa6c647136e2776121e34749dd1f23d74a535e7
        container_name: speedtest-tracker
        restart: unless-stopped
        ports:
            - $SPEEDTEST_TRACKER_PORT:80
        environment:
            - PUID=$SPEEDTEST_TRACKER_PUID
            - PGID=$SPEEDTEST_TRACKER_PGID
            - TZ=$SPEEDTEST_TRACKER_TZ
            - APP_KEY=$SPEEDTEST_TRACKER_KEY
            - APP_URL=$SPEEDTEST_TRACKER_URL
            - DB_CONNECTION=$SPEEDTEST_TRACKER_DB_TYPE
        volumes:
            - $SPEEDTEST_TRACKER_VOL_CONFIG:/config
